.card-pequeno-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}

.card-pequeno-container img {
    width: 50px;
    margin-right: 10px;
}

.card-pequeno-container h4 {
    margin-right: 5px;
}